<div class="relative">
    <form [formGroup]="form" (ngSubmit)="editarDevolucionExtrusion()" *ngIf="form">    
        <div class="div-CorridaExtrusion">
            <div>
                <h3>Digite Nueva Cantidad de devolucion</h3>
            </div>
            <div class="div-container">
                <div class="devolucion-editar-div-input">
                    <input type="number" class="form-control" id="cantidad" formControlName="cantidad" min="0" pattern="^[0-9.]+">
                </div>
            </div>
            <div class="devolucion-buttons-center">
                <div class="div-buttons-extrusion-inicio">
                    <button class="btn btn-primary btn-sm" [disabled]="this.form.invalid || !this.ActivarBoton"  type="submit">Aceptar</button>                
                    <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarMPriIngresar()">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>
