table, td, th {
    border: 1px solid #ccc;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

.container-body {
    padding:16px;
}
.table-container {
   
    border-radius: 5px;
    padding: 0;
}
th:first-child {
    border-right-color: #fff ;
}


.table-registro {
    width: 100%;
}


.table-logo {
    width: 200px;
}

.table-header-title {

    margin-left: 21%;
    font-weight: 700;
    float: left;
}

.table-header-option {
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding-left: 10px;
}

.table-header-option-result {
    font-weight: 400;
}

.col-sm-1 {
    padding-left: 0;
    width: 6%;
    padding: 0;
}

.cortina{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    bottom: auto;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    opacity: 72%;
    outline: 0;
    transition: transform .3s;
    background: black;
}

img{
    float: left;
    margin-left: 7%;
}

table{
    border-radius: 18px;
    border-style: hidden; 
    box-shadow: 0 0 0 0.4px #666;
}

.orden-produccion-contenedor{
    display: block;
}

.orden-produccion-tr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295%;
}