
<div class="relative">
    <form [formGroup]="form" (ngSubmit)="editarConsumoMPriExtrusion()" *ngIf="form">    
        <div class="div-CorridaExtrusion">
            <div>
                <h3>Editar Materia Prima</h3>
            </div>
            <div>
                <div>
                    <div class="cantidad-materia-prima">
                        <table>
                            <thead>
                                <tr>
                                  <th>cantidad</th>
                                </tr> 
                            </thead>
                            <tr>
                                <td>
                                    <input class="form-control" type="number" id="cantidad" formControlName="cantidad" min="0" pattern="^[0-9.]+">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="div-container">
                <div class="div-buttons-extrusion-inicio ">
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="this.form.invalid || !this.ActivarBoton">Aceptar</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarMPriIngresar()">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>
