<div class="devoluciones-mostrar">
  <div>
      <table class="table table-sm">
          <thead>
            <tr class="devolucion-table">
              <th>Material</th>
              <th>Cantidad</th>
            </tr> 
          </thead>
          <tr *ngFor="let devolucionesOrden of DevolucionesOrden" >
              <td>
                <div class="devolucion-table-div">
                  {{ devolucionesOrden.descripcion }}
                </div>
              </td>
              <td>{{ devolucionesOrden.cantidadConsumida }}</td>
          </tr>
      </table>
  </div>
</div>