<div class="app-material-salida">
    <div class="material-salida-fondo">
        <div>
            <div>
                <h3 class="material-salida-title">MATERIAL DE SALIDA</h3>
            </div>
        </div>
        
        <div class="material-salida-iniciarNuevoRollo" (click)="IniciarNuevoMaterialSalida()">
            <div class="material-salida-iniciarNuevoRollo-contenido">
                <table>
                    <tr>
                        <td>
                            <i class="i-nuevaSalidaRollo" >
                                Nueva Salida Rollo
                                <i class="bi bi-plus"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>




    <app-material-salida-ingresar *ngIf='iniciarNuevoMaterialSalida' [materialSalidaPermiso]=this._corridaService.AceptarMaterialSalida (cambio)='cerrarExtrusionMaterialSalidaingresar($event)'></app-material-salida-ingresar>

    <app-material-salida-mostrar [materialSalidaActualizar]=this._materialService.MaterialSalidaActualizar (cambioEditarMaterialSalida)='materialSalidaEditarMostrar($event)' (cambioVerMaterialSalida)='materialSalidaVerMostrar($event)'></app-material-salida-mostrar>

    <app-material-salida-editar *ngIf='iniciarEditarMaterialSalida ' [materialSalidaActualizar]=this._materialService.MaterialSalida (cambio)='materialSalidaEditarMostrar_($event)'></app-material-salida-editar>

    <app-material-salida-ver *ngIf='iniciarVerMaterialSalida' [materialSalidaVer]=this._materialService.MaterialSalidaPermisoVer (cambio)='materialSalidaVerMostrar_($event)'></app-material-salida-ver>
</div>
