<div class="relative">
    <form [formGroup]="form" (ngSubmit)="guardarTorta()" *ngIf="form">    
        <div class="div-CorridaExtrusion">
            <div>
                <h3 class="title-observaciones">REGISTRO DESPERDICIOS - TORTA EXTRUSIÓN</h3>
            </div>
            <div>
                <p>Seleccione y especifique la cantidad de Retal</p>
            </div>
            <div class="div-container">
                <div class="torta-contenedor-div">
                    <div  *ngFor="let torta of ListaTortasColumnas | keyvalue" class="torta-contenedor-div-div">
                        <table class="table table-bordered reproceso-table">
                            <thead>
                                <tr class="torta-table-tr">
                                  <th class="torta-table-th"></th>
                                  <th>cantidad</th>
                                </tr> 
                            </thead>
                            <tr *ngFor="let item of torta.value">
                                <td class="torta-td">
                                    <div>
                                        <input class="form-check-input" type="checkbox" (change)="onChange(item.pk_Torta, $event )" id="{{ item.pk_Torta }}">
                                        <label class="form-check-label" for="{{ item.Pk_torta }}">
                                            {{ item.descripcion }}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" type="number" id="{{ item.pk_Torta }}" (change)="onChangeValor( item.pk_Torta )" formControlName="{{ item.pk_Torta }}" [attr.disabled]="false" min="0" pattern="^[0-9.]+">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="div-container">
                <div class="div-buttons-extrusion-inicio">
                    <div class="retal-buttons-center">
                        <button class="btn btn-primary btn-sm" [disabled]="this.form.invalid || this.activarBoton || !TortaExtrusionPermiso "  type="submit">Aceptar</button>                
                        <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarTortaIngresar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>