.div-class-IniciarNuevaCorrida{
    margin-top: 150px;
}

.app-reproceso{
    margin-top: 25px;
}

.corrita-extrusion-div-reproceso-devolucion{
    width: 41%;
    float: left;
    margin-left: 8%;
}

.corrita-extrusion-div-retal-torta-resumen-liquidacion{
    width: 41%;
    float: left;
    margin-left: 2%;
}