<div class="relative">
    <form [formGroup]="form" (ngSubmit)="editarReproceso()">    
        <div class="div-CorridaExtrusion">        
            <div>
                <h3>Digite Nuevo Peso del Rollo</h3>
            </div>
            <div class="div-container">
                <div class="reproceso-editar-div-input">
                    <input type="number" class="form-control" id="pesoNetoRollo" formControlName="pesoNetoRollo" maxlength="" min="0" pattern="^[0-9.]+">
                </div>
            </div>
            <div class="reproceso-buttons-center">
                <div class="div-buttons-extrusion-inicio">
                    <button class="btn btn-primary btn-sm" [disabled]="this.form.invalid || !this.ActivarBoton" type="submit">Aceptar</button>                
                    <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarReprocesoEditar()">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>
