<div>
    <div>
        <table class="table table-bordered">
            <thead>
              <tr class="resumen-table">
                <th>Total Kg Reproceso</th>
                <th>Total producido</th>
                <th>Tiempo de Ejecucion (H)</th>
                <th>Velocidad (Kg/h)</th>
              </tr> 
            </thead>
            <tr class="resumen-corrida-tr-amarillo">
              <td>{{ this.totalKgReproceso }}</td>
              <td>{{ this.totalProducido }}</td>
              <td>{{ this.tiempoEjecucion }}</td>
              <td>{{ this.velocidad }}</td>
            </tr>
          </table>
    </div>
</div>