<div class="app-tiempo-paro">
    <div class="tiempo-paro-fondo">
        <div>
            <div>
                <h3 class="tiempo-paro-title">TIEMPOS DE PARO</h3>
            </div>
        </div>
        
        <div class="tiempo-paro-iniciarTiempoParo" (click)="IniciarNuevoTiempoParo()">
            <div class="tiempo-paro-iniciarTiempoParo-contenido" >
                <table>
                    <tr>
                        <td >
                            <i>
                                Nuevo paro
                                <i class="bi bi-plus"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </i>
                        </td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
    
    
    <app-tiempo-paro-ingresar *ngIf='iniciarNuevoTiempoParo' [TiempoParoPermiso]=this._corridaService.AceptarTiempoParo (cambio)='cerrarExtrusionTiempoParoIngresar($event)'></app-tiempo-paro-ingresar>
    
    <app-tiempo-paro-mostrar [TiempoParoActualizar]=this._tiempoParoService.TiempoParoActualizar (cambioEditarTiempoParo)='tiempoParoEditarMostrar($event)' (cambioVerTiempoParo)='tiempoParoEliminarMostrar($event)'></app-tiempo-paro-mostrar>
    
    <app-tiempo-paro-editar *ngIf='iniciarEditarTiempoParo' [TiempoParoActualizar]=this._tiempoParoService.TiempoParo (cambio)='tiempoParoEditarMostrar_($event)'></app-tiempo-paro-editar>
    
    <app-tiempo-paro-eliminar [tiempoParoEliminar]=this._tiempoParoService.TiempoParoEliminar (cambio)='tiempoParoEliminarMostrar_($event)'></app-tiempo-paro-eliminar>
</div>